BACKEND_API_URL=http://localhost:5000


# Footer social destinations. Leave X empty until the official account URL is known.
VITE_INSTAGRAM_URL=https://www.instagram.com/enrg_solar_india
VITE_FACEBOOK_URL=https://www.facebook.com/share/1Ey5Aa7LFC/
VITE_LINKEDIN_URL=https://www.linkedin.com/company/enrg-solar-india/
VITE_X_PROFILE_URL=https://x.com/ENRGSOLARfjuw